body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 5%;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

button {
    width: 100%;
}

.logo img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}